{{/*
  文章列表，按月分组。
  index.html 与 _default/list.html 共用，避免此前两份模板逐行重复。
  入参：dict "paginator" $paginator
*/}}
{{ $paginator := .paginator }}
{{ range $paginator.Pages.GroupByDate "2006-01" }}
<div class="post-group">
  <h3>{{ dateFormat "2006年1月" (printf "%s-01" .Key) }}</h3>
  <ul>
    {{ range .Pages }}
    <li>
      <a class="link post-item-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      <span class="post-item-meta">
        {{ with .Params.tags }}
        <span class="post-item-tags">
          {{ range first 3 . }}
          <a class="post-item-tag" href="{{ printf "/tags/%s/" (. | urlize) }}">#{{ . }}</a>
          {{ end }}
        </span>
        {{ end }}
        {{ if gt .ReadingTime 0 }}<span class="post-item-reading">{{ .ReadingTime }} 分钟</span>{{ end }}
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format (default "2006-01-02" site.Params.dateFormat) }}</time>
      </span>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
